
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <div>
      <h1>Hear the bots</h1>
  </div>
  <!-- <div class='container'> -->
    <div class="content">
      {{#each posts}}
      <div class="indivPost">
        <img src={{this.photoURL}}>
        <p class = 'rant'>{{this.content}}</p>
      </div>
      {{/each}}
    </div>
