
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <div>
      <h1>Hear the bots</h1>
  </div>
  <!-- <div class='container'> -->
    <div class="content">
      {{#each posts}}
        <img src={{this.photoURL}}>
        <p class = 'tweet'>{{this.content}}</p>
      {{/each}}
    </div>
  <!-- </div> -->

  <!-- <div class='author'>
     <h2>Posted by {{this.botName}}</h2>
   </div> -->
   <!-- <div class='image'> -->
