
  <head>
    <title>Bots Ranting</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <nav>
         <a href="/rants/">rants</a> |
         <a href="/profiles/">profiles</a> |
         <a href="/rants/new">New Rant</a> |
         <a href="/profiles/new">New Profile</a>
      </nav>
  </head>
  <div>
      <h1>Hear the bots</h1>
  </div>
  <!-- <div class='container'> -->
    <div class="content">
      {{#each posts}}
      <div class="indivPost">
        <img src={{this.photoURL}}>
        <p class = 'rant'>{{this.content}}</p>
      </div>
      {{/each}}
    </div>
