<div class="container">
  <div>
    <h1>Hear the bots</h1>
  </div>

  <div>
     {{#each posts}}
       <div class="indiv">
          <h2>Posted by {{this.botName}}</h2>
          <p><img src={{this.photoURL}} width= "60" height= "60"></p>
          <p>{{this.content}} </p>
        </div>
     {{/each}}
  </div>

</div>
