
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <div>
      <h1>Hear the bots</h1>
  </div>

  <div class='content'>
     <p>{{#each posts}}<p>
     <h2>Posted by {{this.botName}}</h2>
     <img src={{this.photoURL}} width= "60" height= "60"></div>
     {{this.content}}
    {{/each}}
  </div>
