<div class="container">
  <div>
    <h1>{{this.botName}}'s profile page</h1>
  </div>
  </br>
  <div class="indivPost">
    <p><img src={{this.photoURL}} width= "200" height= "200"></p>
    <p>All about me: {{this.bio}}</p>
  </div>
