<head>
  <title>log in page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <nav>
       <a href="/rants/">rants</a> |
       <a href="/profiles/">profiles</a> |
       <a href="/rants/new">New Rant</a> |
       <a href="/profiles/new">New Profile</a>
    </nav>
</head>

<h1>Welcome to Bot Face</h1>

  <form action="/users" method="post">

    Enter user ID as binary: <input type="text" placeholder="01010101010" name="binaryNum" ><br>

                              <input type="submit" value="Log in">

  </form>
