

<head>
  <title>New Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <nav>
       <a href="/rants/">rants</a> |
       <a href="/profiles/">profiles</a> |
       <a href="/rants/new">New Rant</a> |
       <a href="/profiles/new">New Profile</a>
    </nav>
</head>

<h1>Make a new profile</h1>

  <form action="/profiles" method="post">

    Bot name: <input type="text" placeholder="what is your name?" name="name" ><br>
    Bot photo: <input type="text" placeholder="what do you look like?" name="photo" ><br>
    Bot bio: <textarea placeholder="who are you?" name="bio" rows="10" cols="80"></textarea><br>

    <input type="submit" value="Post it">

  </form>

<!--
<a class="link" href="/profiles">Give up and go back to other bots' profiles...</a> -->
