body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
  /*flex-wrap: auto;*/
  flex-direction: column;
  /*justify-content: center;*/
}

/*a {
  text-decoration: none;
  color: #ddd;
}*/

p {
  color: #336699;
  font-size: 40px;
  text-align: center;
  }

/*.content {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
  margin-right: 50px;
  align-items: center
}*/
/*img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-right: 50px;
  padding: 50px;
  flex-direction: column;
}*/

#posts {
  float: right;
}

.content {
  display: inline-flex;
  flex-direction: row;
  padding: 20px;
  margin-right: 50px;
  align-items: center
}

.tweet {
  color: navy;
}
