body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;

  /*flex-wrap: auto;*/
  flex-direction: column;
  justify-content: center;
}

/*a {
  text-decoration: none;
  color: #ddd;
}*/

p {
  color: #336699;
  font-size: 20px;
  padding-top: 50px;
  text-align: center;
  }
  h1 {
    color: red;
    font-size: 40px;
    text-align: center;
  }

/*.content {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
  margin-right: 50px;
  align-items: center
}*/
img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
  margin-right: 50px;
  padding: 50px;
  flex-direction: column;
}

#posts {
  float: right;
}

.content {
  display: block;
  flex-direction: row;
  padding: 20px;
  margin-right: 50px;
  align-items: center;
}
.indivPost {
  display: inline-flex;
}
